@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Utility
# Cards
# Common
# Form
# Navigations
# Animations
# Mobile Nav
# Search Popup
# Page Header
# Google Map
# Client Carousel
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {
    --thm-font: "Poppins", sans-serif;
    --thm-reey-font: "reeyregular";
    --thm-gray: #726f84;
    --thm-gray-rgb: 114, 111, 132;
    --thm-primary: #2f358b;
    --thm-primary-rgb: 47, 53, 139;
    --thm-black: #0f0d1d;
    --thm-black-rgb: 15, 13, 29;
    --thm-base: #ffffff;
    --thm-base-rgb: 255, 255, 255;
    --thm-light: #f2f4f8;
    --thm-light-rgb: 242, 244, 248;
    --thm-letter-space-big: 0.1em;
    --thm-letter-space-small: -0.02em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--thm-font);
}

.topbar {
    align-items: center;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.topbar .akili-log {
    width: 7rem;
}
.maintenance img {
    width: 30rem;
}

.maintenance h1 {
    font-size: 55px;
    font-weight: bold;
}

.maintenance p {
    font-size: 1.5rem;
}
.network {
    gap: 1rem;
}
.network img {
    width: 1.5rem;
}

.col-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.languages-log {
    display: flex;
    gap: 1rem;
}

.languages-log img{
    width: 2rem;
}

@media screen and (max-width: 768px) {
    .maintenance h1 {
        font-size: 35px;
    }
}
